@model IEnumerable<PL.Model.POCO.Estacionamento>
@{
    ViewBag.Title = "Index";
}

<h1>Valor Total</h1>

@*@using (Html.BeginForm())
{
    <p>
        Find by title: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
        Select Data de Saída: @Html.DropDownList("SelectedDate", "All")
        <input type="submit" value="Filter" />
    </p>
}*@

<form action="/Administrativo/Index">
    <select class="form-control" required name="mesEscolhido">
        <option>Todos</option>
        <option>Janeiro</option>
        <option>Fevereiro</option>
        <option>Março</option>
        <option>Abril</option>
        <option>Maio</option>
        <option>Junho</option>
        <option>Julho</option>
        <option>Agosto</option>
        <option>Setembro</option>
        <option>Outubro</option>
        <option>Novembro</option>
        <option>Dezembro</option>
    </select>
    <center>  <input type="submit" class="btn btn-primary" value="Filtrar"></center>
</form>



<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>Codigo do Ticket </th>
        <th>Data de Saída</th>
        <th>Valor Pago </th>

    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.ticket</td>
            <td>@d.dt_hr_saida</td>
            <td>@d.valor_pago</td>

        </tr>
    }
</table>  

<p>Valor total: @ViewBag.ValorT</p>